* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  user-select: none; /* Prevent text selection */
  -webkit-user-drag: none; /* Prevent dragging in WebKit browsers */
}
.info-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  background-color: rgb(187, 255, 197);
}
.start-btn {
  padding: 5px 15px;
  background-color: aquamarine;
}

.game {
  background: url("/images/background.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: url("./images/hammer-be.png"), auto;
}
.game:active {
  cursor: url("./images/hammer-af.png"), auto;
}
.section {
  border: 1px solid black;
  width: 25%;
  height: 50%;
  display: flex;
  justify-content: center;
  contain: paint;
}
.img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: intro 300ms linear;
}
@keyframes intro {
  from {
    transform: translatey(50px);
  }
  to {
    transform: translatey(0px);
  }
}
